@namespace Moka.Beer
@inherits MokaComponentBase

<div class="grid @Direction.GetEnumCssClass() @Space.GetEnumCssClass() @VerticalAlignment.GetEnumCssClass() @HorizontalAlignment.GetEnumCssClass()">
    <CascadingValue Value="this" IsFixed="true">
        @ChildContent
    </CascadingValue>
</div>

@code {
    [Parameter] public Direction Direction { get; set; } = Direction.Default;
    [Parameter] public Space Space { get; set; } = Space.Default;
    [Parameter] public RenderFragment ChildContent { get; set; }
}