@namespace Moka.Beer
@inherits LayoutComponentBase

<main class="@Responsive.GetEnumCssClass() @Position.GetEnumCssClass() @Theme.GetEnumCssClass()">
    @ChildContent
</main>

@code {
    [Parameter] public Responsive Responsive { get; set; } = Responsive.Default;
    [Parameter] public Position Position { get; set; } = Position.Default;
    [Parameter] public Theme Theme { get; set; } = Theme.Default;
    [Parameter] public RenderFragment? ChildContent { get; set; }
}